/*respect*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main stayling*/

html,
 body{
    font-family: sans-serif;
 }
 a{
    color: #333;
    text-decoration: none;
 }
 h1,h2,h3{
    padding-bottom: 20px;
 }
 p{
    padding: 10px 0;
 }
 #navbar{
    background-color: #333;
    color: #fff;
    overflow: auto;
 }
 #navbar a{
    color: #fff;
 }
 #navbar h1{
    float: left;
    padding-top: 20px;
 }
 #navbar ul{
    float: right;
    list-style: none;
 }
 #navbar ul li{
    float: left;
 }
 #navbar ul li a{
    display: inline-block;
    padding: 25px;
 }
 #navbar ul li a:hover,
 #navbar ul li a.current{
    background-color: #444;
    cursor: pointer;
    color: #f7c081;
 }
 .container{
    max-width: 1080px;
    margin: auto;
 }
 .text-praimry{
   color:#f7c081;
 }
 .lead{
    font-size: 20px;
 }
 .btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    bottom: none;
    cursor: pointer;
 }
 .btn:hover{
    background-color:#f7c081;
    color: #333;
 }
 .btn-light{
    background-color:#f4f4f4 ;
    color: #333;
 }
.btn-dark{
    background-color: #333;
    color: #fff;
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.bg-primary{
    background-color:#f7c081 ;
    color: #333;
}
.clr{
    clear: both;
}
/* Showcase section */

#showcase{
    background-image: url("../img/4242.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;

}
#showcase .showcase-content{
    text-align: center;
    color: #fff;
    padding-top: 170px;
}
#showcase h1{
    font: size 25px; ;
}
#home-info{
    height: 400px;
}
#home-info .info-img{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(../img/military-home.jpg);
}
#home-info .info-content{
    float:right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
}
#home-info .info-content p{
    padding-bottom: 20px;
    font-size: 18px;
}
/* feature section */
.box{
   width: 33.3%;
   float: left;
   padding: 50px;
   text-align: center;
}
i{
   font-size: 40px;
}
.box i{
   margin-bottom: 10px;
}
#main-footer{
   text-align: center;
   background-color: #444;
   padding: 10px;
}
/* About us page */
#about-info{
   padding: 20px 0;
   display: inline-block;
   width:100%;
}
#about-info .about-continer{
   width: 80%;
   height: 100%;
   margin: auto;
}
#about-info .info-right{
   float: right;
   width: 50%;
   min-height: 100%;
}
#about-info .info-right img{
   display: block;
   margin: auto;
   width: 80%;
   border-radius: 50%;
}
#about-info .info-left{
   float: left;
   width: 40%;
   min-height: 100%;
}
/* testimonial sectio */

#testimonials{
   height: 600px;
   padding-top: 100px;background-image: url(../img/1544545546_siti-foto-tashkent-city-foto-1.jpeg);
   background-repeat: no-repeat;
   background-size: cover;

}
#testimonials h2{
    color: rgba(27, 33, 214, 0.649);
    text-align: center;
    padding-bottom: 40px;
    font-style: 35px;
}
#testimonials .testimonial{
   padding: 20px;
   margin-bottom: 40px;
   border-radius: 25px;
   opacity: 0.8;
}
#testimonials .testimonial img{
   width: 200px;
   float: left;
   border-radius: 50%;
} 
#testimonials .testimonial p{
   font-size: 20px;
}

/* contact us page */

#contact-form{
   padding: 20px 0;
}

#contact-form h1{
   font-size: 32px;
}
#contact-form .form-group{
   margin-bottom: 20px;
}
#contact-info{
   display: inline-block;
   width: 100%;
}
#contact-form label{
   display: block;
   margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea{
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
}

























